.card {
    background-color: beige;
    width: 50%;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0rem 0rem 1rem rgb(255, 255, 229);
    border: 2px solid white;
    margin: 2rem auto;
    border-radius: 8px;
}
.con {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.image img {
    width: 80%;
    aspect-ratio: 1 / 1;
}
.text {
    width: 50%;
    text-align: center;
}
